body {
  height: 100vh;
  & > * {
    height: 100%;
  }
}

.container {
  height: 100vh;
  &::after {
    position: absolute;
    z-index: 3;
    content: "";
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 3px;
    height: 3px;
    background: black;
  }
}